* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
}

main {
  background-image: url(../imagenes/portada.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.tarjeta {
  background-color: rgb(37, 35, 35);
  color: red;
  border-color: red;
  border: solid;
}

.boton {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 7px 30px;
}
.boton:hover {
  transform: scale(1, 1.5);
  border-radius: 20px;
  color: white;
}

html body header {
  background: rgb(36, 0, 0);
  background: radial-gradient(circle, rgb(36, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(82, 0, 0) 47%, rgb(255, 0, 0) 100%);
  text-shadow: 0 0 10px red;
}
@media (max-width: 980px) {
  html body header {
    background: rgb(36, 0, 0);
    background: linear-gradient(80deg, rgb(36, 0, 0) 0%, rgb(0, 0, 0) 25%, rgb(82, 0, 0) 47%, rgb(255, 0, 0) 100%);
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: red;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

footer {
  color: red;
  background: rgb(255, 0, 0);
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 0, 0) 17%, rgb(0, 0, 0) 52%, rgb(0, 0, 0) 82%, rgb(255, 0, 0) 97%);
}
@media (min-width: 768px) {
  footer {
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(0, 0, 0) 7%, rgb(0, 0, 0) 52%, rgb(0, 0, 0) 92%, rgb(255, 0, 0) 100%);
  }
}
footer h3 {
  color: red;
}
footer ul li a {
  color: red;
}
footer .color_primario {
  color: red;
}

.presentacion {
  width: 100%;
  height: 90vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentacion h1 {
  font-size: 3rem;
  background-color: rgba(155, 25, 25, 0.607);
  border-radius: 30px;
  padding: 10px 20px;
}
.presentacion h1:hover {
  transform: scale(1, 1.5);
  padding: 0px 20px;
}
@media (max-width: 730px) {
  .presentacion h1 {
    font-size: 2rem;
  }
}
.presentacion h2 {
  font-size: 2rem;
  background-color: rgba(155, 25, 25, 0.607);
  border-radius: 30px;
  padding: 10px 20px;
}
.presentacion h2:hover {
  transform: scale(1, 1.5);
  padding: 0px 20px;
}
@media (max-width: 730px) {
  .presentacion h2 {
    font-size: 1rem;
  }
}

.titulo__2 {
  text-align: center;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 56%, rgb(255, 0, 0) 100%, rgb(255, 0, 0) 100%, rgb(0, 0, 0) 100%);
  color: red;
  border-radius: 20px;
}

.titulo_cursos {
  background-color: black;
  color: red;
  text-align: center;
  border-radius: 20px;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .titulo_cursos {
    font-size: 2rem;
  }
}

.titulo_cursos-2 {
  background-color: black;
  color: red;
  text-align: center;
  border-radius: 20px;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .titulo_cursos-2 {
    font-size: 1.5rem;
  }
}

.titulo__ingresar {
  text-align: center;
  background-color: black;
  color: red;
  font-size: 3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .titulo__ingresar .titulo_cursos {
    font-size: 1.5rem;
  }
}

.formulario {
  background-color: rgba(255, 0, 0, 0.651);
  color: black;
  border: solid black;
}

.titulo__noticias {
  text-align: center;
  background-color: black;
  color: red;
  font-size: 3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .titulo__noticias .titulo_cursos {
    font-size: 1.5rem;
  }
}

.titulo__productos {
  text-align: center;
  background-color: black;
  color: red;
  font-size: 3rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .titulo__productos .titulo_cursos {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
