.main__ingresar {
    background-image: url(../imagenes/fondo7.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;

    .titulo__ingresar {
        text-align: center;
        background-color: black;
        color: $color__primario;
        font-size: 3rem;
        border-radius: 10px;
        margin-bottom: 2rem;
        padding: 20px;

        @media (max-width: 500px) {
            .titulo_cursos {
                font-size: 1.5rem;
            }
        }
    }

    .formulario {
        margin: 20px;
        font-size: 1rem;

        .formulario__separacion {
            margin: 10px;
            font-size: 1.5rem;
        }

        .formulario__input {
            background-color: rgb(255, 0, 0);
            color: black;
            border: solid $color__secundario;
            width: 50vw;

            &::placeholder {
                color: $color__secundario;
            }
        }
    }


    .tarjeta__inicio-seccion {
        background-color: $fondo__tarjeta;
        color: $color__primario;
        border-color: $color__primario;
        border: solid 3px;
        border-radius: 0px 0px 20px 20px;
        margin: 20px;
    }
    .imagen{
        object-fit: contain;
    }
}