* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: $color__primario;
    color: $color__secundario;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: $color__primario;
}

a:hover {
    color: white;
}