.boton{
    background-color: $color__primario;
    color: $color__terciario;
    text-align: center;
    border-radius: 20px;
    padding:7px 30px;
    &:hover{
        background-color: $color__secundario;
        border-radius: 20px;
        border: 2px solid $color__primario;
        color: $color__primario;
    }
}